{% load static %}
<footer class="site-footer mt-auto">
  <div class="container py-4 d-flex flex-wrap justify-content-between align-items-center gap-3">
    <span class="small m-0">© {% now "Y" %} Biblioteca Virtual <br><i class="fa-solid fa-location-dot"></i> Leando N. Alem N° 8 . San Nicolás</span>
    
    <span class="small m-0"><i class="fa-solid fa-message"></i> CONTACTO <br><i class="fa-solid fa-envelope"></i> Correo: escueladiocesanasn@gmail.com <br> <i class="fa-solid fa-phone"></i> Tel: 336-4426758 / 336-468-9004</span>
    
  </div>
  <div class="footer-bottom text-center py-2">
    <span class="small">Sistema de Biblioteca Virtual <strong>Escuela Diocesana de Servicio Social</strong></span>
  </div>
</footer>